<!DOCTYPE html>
<html>

<head>
    <title>Congress Activity </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dist.css')}}">
</head>

<body class="max-w-md mx-auto bg-blue-800">

    <nav class="bg-blue-800">
        <div class="max-w-74xl mx-auto px-4 sm:px-6 lg:px-6">
          <div class="flex justify-between h-16">
            <div class="flex">
              <div class="flex-shrink-0 flex items-center">
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                <a href="#" class="border-indigo-500 text-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  Home
                </a>
                <a href="#" class="border-transparent text-gray-300 hover:border-gray-300 hover:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  Team
                </a>
                <a href="#" class="border-transparent text-gray-300 hover:border-gray-300 hover:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  Projects
                </a>
                <a href="#" class="border-transparent text-gray-300 hover:border-gray-300 hover:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                  About
                </a>
              </div>
            </div>

    </nav>

<div class="mt-56">
    <form action="/official" method = "GET">
        <form class="w-full max-w-sm">
            <div class="flex items-center">
                <input type="text" name="official" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Charles Schumer">
                <button class="bg-white hover:bg-gray-200 text-gray-800 font-normal text-sm py-2 px-7 rounded m-2">
                    Search
                  </button>
            </div>
          </form>
</div>

    <ul>
    {% for official in officials %}
        <li class="text-lg font-semibold">{{official["first_name"]}} {{official["last_name"]}} missed {{official["missed_votes_pct"]}}% of votes.</li>
    {% endfor %}
    </ul>
<p></p>
   
</body>



</html>
<script>

</script>