{% extends 'base.html' %}

{% block content %}

{% block navbar %}
{% include 'searchnavbar.html' %}
{% endblock %}


<div class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-3xl mx-auto flex justify-between mt-5">
    <div class="md:col-span-2">
        {% block senoverview %}
        {% include 'senoverview.html' %}
        {% endblock %}
    </div>

    <div>
        {% block senrate %}
        {% include 'senrate.html' %}
        {% endblock %}
    </div>

    <div class="md:row-span-2 md:col-span-1 row-span-3">
        {% block piechart %}
        {% include 'doughnut.html' %}
        {% endblock %}
    </div>

    <div class="md:row-span-2 md:col-span-2 col-span-3">
        {% block statdisplay %}
        {% include 'statdisplay.html' %}
        {% endblock %}
    </div>

    <div class="md:col-span-3 md:row-span-3 col-span-3">
        {% block linegraph %}
        {% include 'linegraph.html' %}
        {% endblock %}
    </div>
</div>

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% endblock %}