{% extends 'base.html' %}

<body class="bg-white">
    {% block content %}

    {% block navbar %}
    {% include 'searchnavbar.html' %}
    {% endblock %}


    <div class="grid grid-flow-col grid-cols-3 grid-rows-6 gap-4 max-w-3xl mx-auto flex justify-between mt-5 auto-rows-fr">
        <div class="col-span-2">
            {% block senoverview %}
            {% include 'senoverview.html' %}
            {% endblock %}
        </div>

        <!-- <div> -->

        <div class="row-span-2">
            {% block piechart %}
            {% include 'doughnut.html' %}
            {% endblock %}
        </div>

        <div class="col-span-3 row-span-3">
            {% block linegraph %}
            {% include 'linegraph.html' %}
            {% endblock %}
        </div>
        <!-- <div> -->

        <div class="row-span-2 col-span-2">
            {% block statdisplay %}
            {% include 'statdisplay.html' %}
            {% endblock %}

        </div>

       

        <div>
            {% block senrate %}
            {% include 'senrate.html' %}
            {% endblock %}
        </div>


       



    </div>

    {% endblock %}


</body>