<main class="md:max-w-2xl mx-auto content max-w-xs">
    
    <h1 class='mt-10 text-4xl mx-auto font-bold text-black sm:text-4xl sm:tracking-tight lg:text-4xl'>Mission</h1>
    <p class="mt-5 font-inter text-md">
        While all members of Congress possess the same amount of power, some simply exercise that power less than
        others. <span class="font-bold">In order to mitigate political inactivity, Congress Activity monitors the voting behavior of every
        member of the United States Congress. </span>A high absentee rate points to a congress member's lack of political will—
        missed votes are wasted chances to push for what their agendas promised when they were voted into office.
    </p>

    <h1 class='mt-10 text-3xl mx-auto font-bold text-black sm:text-3xl sm:tracking-tight lg:text-4xl'>API</h1>
    <p class="mt-5 font-inter text-md">
        Congress Activity uses data from the <a href="https://projects.propublica.org/api-docs/congress-api/" class="underline">ProPublica Congress API.</a> Propublica posseses voting data from 1991 for the House of Representatives and from 1989 for the Senate.
    </p>

    <h1 class='mt-10 text-3xl mx-auto font-bold text-black sm:text-3xl sm:tracking-tight lg:text-3xl'>About the Site</h1>
    <p class="mt-5 font-inter text-md mb-20">
        The website was built with HTML5, Tailwind CSS, Flask, ChartJS, and JavaScript.
        The website is currently operated by Jack McCain.
        If you'd like to report a bug, send an email to <a class="underline" href="https://mail.google.com/mail/u/0/?fs=1&to=jackmccain56@gmail.com&su=Congress%20Activity%20Bug%20Report&tf=cm" target="_blank" >jackmccain56@gmail.com</a>.
    </p>
