<!DOCTYPE html>
<html>
<head>
    <title>Congress Activity </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dist.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@1.7.7/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@1.7.7/dist/js/tom-select.complete.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="{% block base_classes %}{% endblock %}">
    {% block navbar %}
    {% include 'searchnavbar.html' %}
    {% endblock %}

    <div class="mx-4">
        <div class="max-w-3xl mx-auto mt-5">
            {% block content %}
            {% endblock %}

            {% block footer %}
            {% include 'footer.html' %}
            {% endblock %}
        </div>
    </div>
    <noscript>
    <img src="https://shynet.rmrm.io/ingress/77650d76-49f9-47dc-8074-56975af987ed/pixel.gif">
    </noscript>
    <script defer src="https://shynet.rmrm.io/ingress/77650d76-49f9-47dc-8074-56975af987ed/script.js"></script>
</body>

</html>
