<div class="shadow-lg rounded-lg overflow-hidden border-2 pb-8">
    <canvas class="p-6" id="chartDoughnut">  </canvas>
</div>
  
  <!-- Required chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <!-- Chart doughnut -->
  <script>
  
    const dataDoughnut = {
      labels: [
        'Votes attended',
        'Votes missed   ',
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [300, 100],
        backgroundColor: [
          'rgb(21,101,192)',
          'rgb(137,209,254)',
        ],
        hoverOffset: 4
      }]
    };
  
    const configDoughnut = {
      type: 'doughnut',
      data: dataDoughnut,
      options: {}
    };
  
  
    var chartBar = new Chart(
      document.getElementById('chartDoughnut'),
      configDoughnut
    );

  </script>