<div class="max-w-xs mx-auto md:max-w-md" id="app">
    <style>
        .ts-dropdown {
            margin-top: 0;
        }
    </style>
    <form class action="/official" method="GET" id="search-form">
        <select name="official" class="" id="officials" required>
            <option selected disabled id="default-value"></option>
            {% for legislator in legislators %}
            <option>{{legislator["first_name"]}} {{legislator["last_name"]}}</option>
            {% endfor %}
        </select>
    </form>
    <script>
        var config = {
            placeholder: "Search a congress member...",
            onChange: (value) => {
                if (value) {
                    document.querySelector("#search-form").submit();
                }
            }
        };
        let search = new TomSelect('#officials', config);
    </script>
</div>