<div id="navbar" class="relative pt-5 bg-blue-900 pb-3" style="z-index: 5;">
    <header class="flex justify-between h-12 pt-6 pb-8 sm:items-center max-w-3xl mx-auto">
        <div class="flex items-center justify-between w-full p-0">
            <div class="flex flex-row items-center flex-grow">
                <a href="/">
                    <div class="mr-6 select-none">
                        <h class="inline-flex items-center pt-1 text-lg">
                            <img src="/static/img/logo-black.svg" class="w-6 h-6 mr-2 opacity-40 hidden sm:block">
                            <p class="font-semibold text-white lg:text-xl sm:text-sm text-md ml-3 sm:ml-0">Who is Voting</p>
                        </h>
                    </div>
                </a>
            </div>
            <div class="mr-12 sm:mr-16 sm:flex-grow">
                {% block search %}
                {% include 'search.html' %}
                {% endblock %}
            </div>
        </div>
     
        <a href="/about"
            class="block pt-0 md:pt-2 mr-8 md:text-sm lg:pt-0 text-white hover:text-gray-400 text-xs ">About</a>
        <a href="https://projects.propublica.org/api-docs/congress-api/" target="_blank" class="block pt-0 md:pt-2 md:text-sm lg:pt-0 text-white hover:text-gray-400 text-xs hidden sm:block">API</a>
   
</div>
</header>

