<div class="sm:flex sm:items-center sm:justify-between">
    <div class="sm:flex sm:space-x-5">
      <div class="flex-shrink-0">
        <img class="mx-auto h-20 w-20 rounded-md" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTQzMDI1Mzc4NTEwNzc1NTAx/charles-schumer-official-portraitjpg.jpg" alt="">
      </div>
      <div class="mt-4 text-center sm:mt-0 sm:pt-1 sm:text-left">
        <p class="text-xl font-bold text-gray-900 sm:text-2xl">Charles Schumer</p>
        <p class="text-sm font-medium text-gray-600">U.S. Senate</p>
        <p class="text-sm font-medium text-gray-600">New York</p>
      </div>
    </div>
  </div>