<div class="border-2 shadow-sm rounded-lg">
    <dl class="mt-0 grid grid-cols-2 grid-rows-2 rounded-lg bg-white overflow-hidden shadow-xl divide-x divide-y divide-gray-200 md:grid-cols-3 divide-x ">
        {% block statdisplay %}
        {% include 'statdisplayindv.html' %}
        {% include 'statdisplayindv.html' %}
        {% include 'statdisplayindv.html' %}
        {% include 'statdisplayindv.html' %}
        {% include 'statdisplayindv.html' %}
        {% include 'statdisplayindv.html' %}
        {% endblock %}
    </dl>
  </div>